.drop{
      position: relative;
      float: left;  
      padding-right: 10px;  
      padding-left: 0; 
      text-decoration: none;
      /*background-color: blue;*/
    }
    .card {
      position: relative;
      float: left;  
      padding-right: 10px;  
      padding-left: 0; 
      text-decoration: none;
    }
    .w3-card-4 {
      background-color: blue;
    }
    .w3-container-w3-blue {
      background-color: blue;
    }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .black {
      float: left;
    }
    .red {
      float: left;
    }
    #soldierOption {
      height: 40px;
    }
    ul {
      list-style-type: none;
    }
    /*.star {
      font-size: x-large;
    }
    */
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 600px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    .well-sm[id=player1]{
      float: left;
        color: blue;
        width: 30%;
    }
    .well-sm[id=player2]{
      float: left;
		background-color: rgb(22, 105, 173);
		color: white;
    width: 30%;
	}
	.well-sm[id=player3]{
    float: left;
	    color: green;
      width: 30%;
	}
  #dropdownbutton {
    /*margin-left: 0;*/
    width: 180px;
    height: 40px;
    float: left;
  }
  #dropdown {
    font-size: 8pt;
  }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }