.drop{
      position: relative;
      float: left;  
      padding-right: 10px;  
      padding-left: 0; 
      text-decoration: none;
      /*background-color: blue;*/
    }
    .card {
      position: relative;
      float: left;  
      padding-right: 10px;  
      padding-left: 0; 
      text-decoration: none;
      background-color: blue;
      margin: 20px;
    }
   #leftNav{
    position: relative;
   }
   #messageList{
    position: absolute;
    overflow-y: scroll;
   }
   #messageForm {
    position: absolute;
    bottom: 0;
   }
    .w3-container-w3-blue {
      background-color: blue;
    }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .black {
      float: left;
    }
    .red {
      float: left;
    }
    #soldierOption {
      height: 40px;
    }
    ul {
      list-style-type: none;
    }
    /*.star {
      font-size: x-large;
    }
    */
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 600px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
  /* #messageField {
      width: 30%;
      text-indent: -100px;
    }
*/    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    .well-sm{
      float: left;
      width: 30%;
      text-indent: 30
    }
  #dropdownbutton {
    width: 180px;
    height: 40px;
    float: left;
  }
  #dropdown {
    font-size: 8pt;
  }
  #transferbutton {
    width: 180px;
    height: 40px;
    float: left; 
  }
  #transferDropDownText{
   font-size: 8pt; 
  }

   div[id="matches"] {
      display: inline-block;
      padding: 10px;
      border: 2px solid black;
      width: 320px;
      height: 500px;
      overflow-y: scroll;
      float: center;
  }
  div[id="enter"] {
      display: inline-block;
      padding: 10px;
      border: 2px solid black;
      width: 320px;
      height: 500px;
      margin-right: 50px;
      float: left;
  }
  div[id="nameField"] {
      display: inline-block;
      text-align: center;
      margin: 0% 40%;
  }
  div[id="wrapper"] {
      display: inline-block;
      width: 2400px;
      height: 400px;
      margin: 0% 25%;
  }
  button[id="maker"] {
      margin: 5px 0px;
  }
  button {
      display: inline-block;
      margin: 5px;
      background-color: #4CAF50; /* Green */
      color: white;
      border: 2px solid black;
      border-style: groove;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
  }
  div[id="#n"] { 	
      border: 2px solid black;
  }
  input {
      margin: 5px 0px;
      display: inline-block;
      background-color: white;
      color: black;
      border: 2px solid black;
      padding: 15px 50px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
  }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }